{% extends "base.html" %}
{% block title %}Add Ingredient{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1 class="page-heading">Add Ingredient</h1>
<div>
  <div class="well form-container">
    <form action="/add_new_ingredient" method="post">
      <div class="form-group row">
        <label class="col-2 col-form-label">Name</label>
        <div class="col-10">
          <input class="form-control" type="text" value="" name="ingredient-name">
        </div>
      </div>
  </div>
    <div class="button-container add-submit">
      <button type="submit" class="btn btn-success">
        Add New Ingredient
      </button>
    </div>
  </form>
</div>
{% endblock %}