{% extends "base.html" %}
{% block title %}Delete Transaction{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1 class="page-heading">Delete Transaction</h1>
<div>
  <div class="well form-container">
    <form action="/delete_transaction" method="post">
      <div class="form-group row">
        <label class="col-2 col-form-label">ID</label>
        <div class="col-10">
          <input class="form-control" type="text" value="" name="transaction-id">
        </div>
      </div>
    </div>
    <div class="button-container delete-submit">
      <button type="submit" class="btn btn-danger">
        Delete Transaction
      </button>
    </div>
  </form>
</div>
{% endblock %}
